<div class="container">
  <form [formGroup]="publicationForm" (ngSubmit)="submitPublication()" class="form-container">
    <div>
      <textarea id="content" formControlName="content" placeholder="Que deseas publicar"></textarea>
      <button type="close" (click)="cancel()">X</button>
    </div>
    <div class="">
      <button type="button">Add Image
      <span class="material-icons">image</span>
      </button>
      <button type="button">Add Link <a class="material-icons">link</a></button>
    </div>
  
    <button type="submit" [disabled]="!publicationForm.valid">Publish</button>
  </form>
</div>
