
<button class="btn" mat-button [matMenuTriggerFor]="menu">
    <mat-icon class="btn-icon">person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Ver Perfil</button>
    <button mat-menu-item [matMenuTriggerFor]="configuracion">Configuración</button>
    <button mat-menu-item>Ayuda</button>
    <button mat-menu-item>Cerrar sesión</button>
  </mat-menu>

  <mat-menu #configuracion="matMenu" class="Configuracion">
    <button mat-menu-item>Cambiar contraseña</button>
    <button mat-menu-item>Eliminar Cuenta</button>
    <button mat-menu-item>Idioma</button>
    <button mat-menu-item>Activar inicio de sesión</button>
  </mat-menu>