<!-- src/app/navbar/navbar.component.html -->
<nav class="navbar">
    <div class="navbar-brand">
      <span>JobHub</span>
      <input type="text" placeholder="Buscar">
    </div>
    <div class="navbar-menu">
      <a href="#">
        <span class="material-icons">home</span>
        <span>Inicio</span>
      </a>
      <a href="#">
        <span class="material-icons">group</span>
        <span>Comunidad</span>
      </a>
      <a href="#">
        <span class="material-icons">work</span>
        <span>Empleos</span>
      </a>
      <a href="#">
        <span class="material-icons">message</span>
        <span>Mensajes</span>
      </a>
      <a href="#">
        <span class="material-icons">notifications</span>
        <span>Notificaciones</span>
      </a>
      <!--
      <a href="#">
        <span class="material-icons">person</span>
        <span>Yo</span>
      </a>     
      
      -->

      <menu-icons-example></menu-icons-example>
    </div>
</nav>
