.main-container {
  margin: 5% 20%;
}

.job-listing-container {
    display: flex;
    flex-direction: row;
  }
  
  .job-list {
    width: 40%;
    border-right: 1px solid #ccc;
    padding: 10px;
  }
  
  .job-item {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
  }
  
  .job-item-header {
    display: flex;
    justify-content: space-between;
  }
  
  .job-title {
    font-weight: bold;
  }
  
  .job-location, .job-time {
    color: #888;
  }
  
  .job-detail {
    width: 60%;
    padding: 20px;
  }
  
  .apply-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .apply-button:hover {
    background-color: #0056b3;
  }
  
  .job-description {
    margin-top: 20px;
  }

  .detail-item {
    display: flex; /* Convierte el div en un contenedor flexible */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    margin-bottom: 20px;
  }
  

  .detail-item img {
    width: 20px;
    margin-right: 10px;
  }
  