body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* src/app/navbar/navbar.component.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E3734B; /* Color de fondo */
    padding: 10px 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand span {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.navbar-brand input {
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    display: flex;
    flex-direction: column; /* Colocar el ícono encima del texto */
    align-items: center; /* Centrar ícono y texto verticalmente */
}

.navbar-menu a .material-icons {
    margin-bottom: 5px; /* Espacio entre el ícono y el texto */
}

.navbar-menu a:hover {
    color: aquamarine;
}


main {
    padding: 20px;
}

.profile {
    text-align: center;
}

.profile .profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile button {
    background-color: #f8941c;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.profile button:hover {
    background-color: #e67e22;
}

section {
    margin-top: 30px;
}

section h2 {
    border-bottom: 2px solid #f8941c;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.experience-item, .education-item, .publication-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
}

.publication-item img {
    width: 100%;
    height: auto;
    margin: 10px 0;
}
