<app-navbar></app-navbar>
<body>

    <main>
        <section class="profile">
            <img src="assets/img/alfredo.jpg" alt="Foto de Alfredo Antonio" class="profile-pic">
            <h1>Alfredo Antonio</h1>
            <p>Mi presentación: una startup en rápido crecimiento, utilizó JHub para optimizar su proceso de contratación. Gracias a la filtración avanzada de postulantes y las entrevistas por la página, ¡se redujo el tiempo de contratación en un 50%, permitiendo a la empresa incorporar talento clave rápidamente y mantenerse competitiva en el mercado.</p>
            <button>Editar Perfil</button>
        </section>
        <section class="experience">
            <h2>Experiencia</h2>
            <div class="experience-item">
                <h3>Jefe de Operaciones</h3>
                <p>UPCX</p>
                <p>Trabajo como jefe para la manipulación de operaciones en la empresa de la universidad UPCX.</p>
            </div>
        </section>
        <section class="education">
            <h2>Estudios</h2>
            <div class="education-item">
                <h3>Bachiller Ingeniero Civil</h3>
                <p>UPCX</p>
                <p>Estudios de la carrera de Ingeniería Civil en la universidad de ciencias aplicadas</p>
            </div>
        </section>
        <section class="publications">
            <h2>Mis publicaciones</h2>
            <div class="publication-item">
                <p>Alfredo Antonio ha compartido esto - 1 día</p>
                <img src="assets/img/equipo.jpg" alt="Imagen de la publicación">
                <p>Felicitaciones por este nuevo logro.</p>
            </div>
        </section>
    </main>
</body>

