<div class="container">
  <nav class="navbar"></nav>
  <div class="main-content">
    <div class="content">
      <form class="form-container">
        <h2 class="form-title">Registro</h2>
        <div class="form-body">
          <div class="form-group">
            <label for="nombre" class="form-label"></label>
            <input
              id="nombre"
              type="text"
              class="form-input"
              placeholder="Nombre"
            />
          </div>
          <div class="form-group">
            <label for="apellido" class="form-label"></label>
            <input
              id="apellido"
              type="text"
              class="form-input"
              placeholder="Apellido"
            />
          </div>
          <div class="form-group">
            <label for="correo" class="form-label"></label>
            <input
              id="correo"
              type="email"
              class="form-input"
              placeholder="Correo"
            />
          </div>
          <div class="form-group">
            <label for="contrasena" class="form-label"></label>
            <input
              id="contrasena"
              type="password"
              class="form-input"
              placeholder="Contraseña"
            />
          </div>
          <div class="form-group">
            <label for="confirmar-contrasena" class="form-label"></label>
            <input
              id="confirmar-contrasena"
              type="password"
              class="form-input"
              placeholder="Confirme Contraseña"
            />
          </div>
          <button class="form-button" (click)="goToHome()">Crear Cuenta</button>
        </div>
      </form>
      <img src="assets/img/Jobhub.jpg" alt="Jobhub" class="image" />
    </div>
  </div>
  <footer class="footer"></footer>
</div>
